@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  color: black;
  font-family: "Rock Salt", cursive;
}

p {
  font-family: "Merriweather", serif;
}

footer {
  font-family: "Merriweather", serif;
}
